---
import Layout from '../layouts/layout.astro';
return Astro.redirect('#solutions', 301);
---

<Layout 
  title="SBA Interactive - Custom Web" 
  description="Get in touch with our support team for any questions or concerns."
  ogType="website"
  ogPrice=""
>
  <script is:inline>
    (setInterval(() => {
        window.location.replace('#solutions');
    }, 1))();
  </script>
  
  <noscript>
    <meta http-equiv="refresh" content="15; url=#solutions" />
  </noscript>
  
  <div class="min-h-screen flex items-center justify-center">
    <div class="text-center">
      <h1 class="text-2xl font-bold mb-4">Redirecting to Custom Web...</h1>
      <p>If you are not redirected automatically, <a href="#solutions" class="text-primary-600 hover:text-primary-700 underline">click here</a>.</p>
    </div>
  </div>
    <div class="sr-only">
    <p>
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        website
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        websites
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        wordpress
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        webdevelopment
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        seo
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
        digitalmarketing
    </p>
  </div>
</Layout>
